@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.profile{
  display: flex;
}

.Nav{
  display: flex;
  gap: 25px;
  background-color: maroon;
  color: white;
}